body {
    background: #f8f9fa;
}

h1 {
    margin-bottom: 30px;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.card-title {
    margin-bottom: 20px;
}

input[type="file"] {
    border: none;
}

input {
    margin-bottom: 10px;
}

button {
    width: 100%;
}

#image-display {
    margin-top: 20px;
}

.decrypted-image-container {
    max-width: 100%;
    max-height: 500px; /* Limit the height of the image */
    overflow: hidden; /* Hide overflow */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    margin: 0 auto; /* Center the container */
}

#decrypted-image {
    max-width: 100%; /* Responsive width */
    max-height: 100%; /* Maintain aspect ratio */
}
